.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.color-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.color__box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px gray;
}

input[type="text"] {
  outline: none;
  font-size: 1.2em;
  padding: 5px;
  box-shadow: 1px 1px gray;
  border: 1px solid;
  border-radius: 5px;
}